{% extends "_item_card_metadata_base.html" %}
{% load humanize %}
{% load i18n %}
{% block brief %}
  <div class="multi-fields">
    {% if item.rating %}
      <span class="solo-hidden">{{ item.rating | floatformat:1 }} <small>({{ item.rating_count }} {% trans "ratings" %})</small></span>
    {% endif %}
    {% include '_genre_list.html' with list=item.genre max=2 %}
    {% include '_credits.html' with credits=item.role_credits.playwright role_label='playwright' max=2 %}
    {% include '_credits.html' with credits=item.role_credits.composer role_label='composer' max=2 %}
    {% include '_credits.html' with credits=item.role_credits.choreographer role_label='choreographer' max=2 %}
    {% include '_credits.html' with credits=item.role_credits.original_creator role_label='original creator' max=2 %}
  </div>
{% endblock brief %}
{% block full %}
  <div class="multi-fields">
    {% include '_people.html' with people=item.additional_title role='other title' max=2 %}
    {% include '_language_list.html' with list=item.language max=5 %}
    {% include '_credits.html' with credits=item.role_credits.troupe role_label='troupe' max=2 %}
    {% include '_people.html' with people=item.location role='theater' max=2 %}
    {% include '_credits.html' with credits=item.role_credits.director role_label='director' max=2 %}
    {% include '_credits.html' with credits=item.role_credits.actor role_label='actor' max=5 %}
    {% include '_credits.html' with credits=item.role_credits.performer role_label='performer' max=5 %}
  </div>
  <div>
    {% if not hide_brief %}{{ item.display_description | linebreaksbr }}{% endif %}
  </div>
{% endblock full %}
