{% load i18n %}
{% load thumb %}
{% if items %}
  <section class="entity-sort shelf" id="item-similar">
    <span class="action">
      <span>
        <a _="on click set el to the next <ul/> then call el.scrollBy({left:-el.offsetWidth, behavior:'smooth'})"><i class="fa-solid fa-circle-left"></i></a>
      </span>
      <span>
        <a _="on click set el to the next <ul/> then call el.scrollBy({left:el.offsetWidth, behavior:'smooth'})"><i class="fa-solid fa-circle-right"></i></a>
      </span>
    </span>
    <h5>{% trans "similar items" %}</h5>
    <ul class="cards">
      {% for sim in items %}
        <li class="card">
          <a href="{{ sim.url }}" title="{{ sim.display_title }}">
            <img src="{{ sim.cover|thumb:'normal' }}"
                 alt="{{ sim.display_title }}"
                 loading="lazy">
            <div class="card-title">{{ sim.display_title }}</div>
          </a>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endif %}
