{% load i18n %}
<dialog open
        _="on close_dialog add .closing then wait for animationend then remove me">
  <article>
    <header>
      <link to="#"
            aria-label="Close"
            class="close"
            _="on click trigger close_dialog" />
      <strong>{% trans "Wikipedia Pages" %}</strong>
    </header>
    <main>
      <ul class="wiki-list">
        {% for page_data in wikipedia_pages %}
          <li>
            <a href="{{ page_data.url }}" target="_blank" rel="noopener noreferrer">
              <strong>{{ page_data.lang }}</strong>: {{ page_data.title }}
            </a>
          </li>
        {% endfor %}
        <li>
          <a href="{{ wikidata_url }}" target="_blank" rel="noopener noreferrer">{% trans "View on Wikidata" %}</a>
        </li>
      </ul>
    </main>
  </article>
</dialog>
