{% extends "item_base.html" %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load humanize %}
{% load mastodon %}
{% load strip_scheme %}
{% load thumb %}
<!-- class specific details -->
{% block details %}
  <div>
    {% if item.opening_date %}
      {% trans "opening date" %}:
      <span>{{ item.opening_date }}</span>
      {% if item.closing_date %}~ <span>{{ item.closing_date }}</span>{% endif %}
    {% endif %}
  </div>
  <div>{% include '_people.html' with people=item.additional_title _role='' max=99 %}</div>
  <div>{% include '_genre_list.html' with list=item.genre max=5 %}</div>
  <div>{% include '_credits.html' with credits=item.role_credits.troupe role_label='troupe' max=5 %}</div>
  <div>{% include '_people.html' with people=item.location role='theater' max=5 %}</div>
  <div>{% include '_language_list.html' with list=item.language max=5 %}</div>
  <div>
    {% include '_credits.html' with credits=item.role_credits.original_creator role_label='original creator' max=5 %}
  </div>
  <div>{% include '_credits.html' with credits=item.role_credits.director role_label='director' max=5 %}</div>
  <div>{% include '_credits.html' with credits=item.role_credits.playwright role_label='playwright' max=5 %}</div>
  <div>{% include '_credits.html' with credits=item.role_credits.composer role_label='composer' max=5 %}</div>
  <div>{% include '_credits.html' with credits=item.role_credits.choreographer role_label='choreographer' max=5 %}</div>
  <div>{% include '_credits.html' with credits=item.role_credits.actor role_label='actor' max=50 %}</div>
  <div>{% include '_credits.html' with credits=item.role_credits.performer role_label='performer' max=50 %}</div>
  <div>{% include '_credits.html' with credits=item.role_credits.crew role_label='crew' max=50 %}</div>
  <div>
    {% if item.official_site %}
      {% trans 'website' %}: <span>{{ item.official_site|urlizetrunc:24 }}</span>
    {% endif %}
  </div>
{% endblock %}
