**.dockerignore
**.DS_Store
**.env
**.git
**.github
**.gitignore
**.gitmodules
**.pre-commit-config.yaml
**.venv
**.vscode
**__pycache__
.data
compose.override.yml
compose.yml
Dockerfile
docs
media
mkdocs.yml
neodb-takahe/docker
neodb-takahe/docs
neodb-takahe/static-collected
neodb-takahe/takahe/local_settings.py
neodb-takahe/tests
static
test_data
tests
