**.dockerignore
**.DS_Store
**.env
**.git
**.github
**.gitignore
**.gitmodules
**.pre-commit-config.yaml
**.pytest_cache
**.ruff_cache
**.venv
**.vscode
**__pycache__
**pytest.ini
.data
codecov.yml
compose.override.yml
compose.yml
data-svc
Dockerfile
docs
FEDERATION.md
mkdocs.yml
neodb.env.example
neodb/media
neodb/static
neodb/test_data
neodb/tests
takahe/docker
takahe/docs
takahe/static-collected
takahe/takahe/local_settings.py
takahe/tests
