.DS_Store
.venv
/.data
/.env
/neodb.env
/compose.override.yml
/typings

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VS Code configuration files
.vscode/

# Zed settings
.zed

# flake8
tox.ini

# Local sqlite3 db
*.sqlite3

/neodb/.coverage
/neodb/media
/neodb/static
/neodb/common/static/css/boofilsic.min.css
/neodb/common/static/css/boofilsic.css
/neodb/common/static/scss/neodb.css
/neodb/playground

# translations
*.mo
