.DS_Store
.venv
/.data
/.env
/neodb.env
/compose.override.yml
/typings
/neodb/.coverage
/neodb/media
/neodb/static
/neodb/common/static/scss/neodb.css
/neodb/playground
/takahe/media

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VS Code configuration files
.vscode/

# Zed settings
.zed

# flake8
tox.ini

# translations
*.mo
