{% extends "manage/base.html" %}
{% load i18n %}
{% block manage_content %}
  <form class="manage-form" action="." method="post">
    {% csrf_token %}
    {% for title, fields in fieldsets.items %}
      <div class="field-group">
        <legend>{{ title }}</legend>
        {% for field in fields %}
          <div class="field">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {% if field.help_text %}<p class="help-text">{{ field.help_text }}</p>{% endif %}
            {{ field.errors }}
            {{ field }}
          </div>
        {% endfor %}
      </div>
    {% endfor %}
    <button type="submit">{% trans "Save" %}</button>
  </form>
{% endblock %}
