{% load i18n %}
{% load duration %}
<section class="activity post mark-group">
  <div style="display:flex;">
    <div>
      <div class="avatar" style="margin:0.6em 0.6em 0.6em 0;">
        <a href="{{ group.author.url }}">
          <img src="{{ group.author.local_icon_url }}"
               alt="@{{ group.author.handle }}">
        </a>
      </div>
    </div>
    <div style="flex-grow:1;">
      <span class="action">
        <span class="post_timestamp timestamp">{{ group.published|naturaldelta }}</span>
        <span>
          <a _="on click set el to the next <ul/> then call el.scrollBy({left:-el.offsetWidth, behavior:'smooth'})"><i class="fa-solid fa-circle-left"></i></a>
        </span>
        <span>
          <a _="on click set el to the next <ul/> then call el.scrollBy({left:el.offsetWidth, behavior:'smooth'})"><i class="fa-solid fa-circle-right"></i></a>
        </span>
      </span>
      <span class="post_author">
        <a href="{{ group.author.url }}"
           class="nickname"
           title="@{{ group.author.handle }}">{{ group.author.name|default:group.author.username }}</a>
        {% blocktrans count counter=group.count %}marked {{ counter }} item{% plural %}marked {{ counter }} items{% endblocktrans %}
      </span>
      <div class="shelf">
        <ul class="cards mark-group-covers">
          {% for item in group.items %}
            <li class="card">
              <a href="{{ item.url }}" title="{{ item.display_title }}">
                <img src="{{ item.cover_image_url|default:default_cover_url|relative_uri }}"
                     alt="{{ item.display_title }}"
                     loading="lazy">
                <div>{{ item.display_title }}</div>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
