{% load i18n %}
{% load duration %}
<section class="activity post mark-group">
  <div class="byline-row">
    <div>
      <div class="avatar">
        <a href="{{ group.author.url }}" aria-label="@{{ group.author.handle }}">
          <img src="{{ group.author.local_icon_url }}" alt="">
        </a>
      </div>
    </div>
    <div class="byline-body">
      <span class="action">
        <span class="post_timestamp timestamp">{{ group.published|naturaldelta }}</span>
        <span>
          <a _="on click set el to the next <ul/> then call el.scrollBy({left:-el.offsetWidth, behavior:'smooth'})"><i class="fa-solid fa-circle-left"></i></a>
        </span>
        <span>
          <a _="on click set el to the next <ul/> then call el.scrollBy({left:el.offsetWidth, behavior:'smooth'})"><i class="fa-solid fa-circle-right"></i></a>
        </span>
      </span>
      <span class="post_author">
        <a href="{{ group.author.url }}"
           class="nickname"
           title="@{{ group.author.handle }}">{{ group.author.name|default:group.author.username }}</a>
        {% blocktrans count counter=group.count %}marked {{ counter }} item{% plural %}marked {{ counter }} items{% endblocktrans %}
      </span>
      <ul class="dc-cards mark-group-covers">
        {% for item, grade in group.cards %}
          {% include "_item_cover_card.html" with compact=1 owner_rating=1 owner_rating_grade=grade %}
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
