{% load static %}
{% load i18n %}
{% load l10n %}
{% load humanize %}
{% load mastodon %}
{% load thumb %}
{% load user_actions %}
{% load duration %}
{% for event in events %}
  <section class="activity dc-surface dc-notice{% if not event.seen %} unread{% endif %}">
    <a class="avatar" href="{{ event.identity.url }}">
      <img src="{{ event.identity.avatar }}" alt="" loading="lazy" />
    </a>
    <div class="dc-notice-body">
      <span class="time">{{ event.created|naturaldelta }}</span>
      <div {% if event.seen %}class="seen"{% endif %}>
        <a href="{{ event.identity.url }}"
           class="nickname"
           title="@{{ event.identity.full_handle }}">{{ event.identity.display_name }}</a>
        <span class="post_handle">@{{ event.identity.full_handle }}</span>
        {% with "event/"|add:event.template|add:".html" as template %}
          {% include template with show_handle=1 hide_own_handle=1 %}
        {% endwith %}
      </div>
    </div>
  </section>
  {% if forloop.last %}
    <div class="htmx-indicator post-list-more"
         hx-get="{% url 'social:events' %}?type={{ request.GET.type }}&last={{ event.created|date:'Y-m-d H:i:s.uO'|urlencode }}"
         hx-trigger="revealed"
         hx-swap="outerHTML">
      <i class="fa-solid fa-compact-disc fa-spin loading"></i>
    </div>
  {% endif %}
{% empty %}
  {% if request.GET.last %}
    <div class="empty">{% trans 'Nothing more.' %}</div>
  {% else %}
    <div class="dc-empty">
      <p>{% trans 'Nothing so far.' %}</p>
    </div>
  {% endif %}
{% endfor %}
