{% load i18n %}
{% load l10n %}
{% load mastodon %}
{% load thumb %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" class="feed-page nav-page-feed">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site_name }} - {{ feed_title }}</title>
    {% include "common_libs.html" %}
  </head>
  <body>
    {% include "_header.html" %}
    <main>
      <div class="grid__main">
        <header class="dc-mh">
          <h1>{% trans 'Activities' %}</h1>
          <span class="action">
            {% include "_compose_menu.html" with primary=1 %}
            <a class="dc-nav{% if unread %} activated{% endif %}"
               title="{% trans "Notifications" %}"
               href="{% url 'social:notification' %}">
              {% if unread %}
                <i class="fa-solid fa-bell"></i>
                <span class="metrics">{{ unread }}</span>
              {% else %}
                <i class="fa-regular fa-bell"></i>
              {% endif %}
            </a>
          </span>
        </header>
        <nav class="dc-chips" aria-label="{% trans 'Feeds' %}">
          <ul>
            <li>
              {% if feed_type == 0 %}
                <a class="on" aria-current="page">{% trans "Following" %}</a>
              {% else %}
                <a href="{% url 'social:feed' %}">{% trans "Following" %}</a>
              {% endif %}
            </li>
            <li>
              {% if feed_type == 1 %}
                <a class="on" aria-current="page">{% trans "Marks and reviews" %}</a>
              {% else %}
                <a href="{% url 'social:focus' %}">{% trans "Marks and reviews" %}</a>
              {% endif %}
            </li>
            {% if show_local_feed %}
              <li>
                {% if feed_type == 2 %}
                  <a class="on" aria-current="page">{% trans "Local" %}</a>
                {% else %}
                  <a href="{% url 'social:local' %}">{% trans "Local" %}</a>
                {% endif %}
              </li>
            {% endif %}
            {% if show_world_feed %}
              <li>
                {% if feed_type == 3 %}
                  <a class="on" aria-current="page">{% trans "World" %}</a>
                {% else %}
                  <a href="{% url 'social:world' %}">{% trans "World" %}</a>
                {% endif %}
              </li>
            {% endif %}
          </ul>
        </nav>
        <div class="feed">
          <div hx-get="{% url 'social:data' %}?typ={{ feed_type }}"
               hx-trigger="intersect once delay:0.1s"
               hx-swap="outerHTML">
            <i class="fa-solid fa-compact-disc fa-spin loading"></i>
          </div>
        </div>
      </div>
      {% include "_sidebar.html" with show_profile=1 show_progress=1 bottom=1 identity=request.user.identity %}
    </main>
    {% include "_footer.html" %}
  </body>
</html>
