{% load i18n %}
{% if category_choices|length > 1 or request.user.is_authenticated and not collection.is_dynamic %}
  <section class="filter">
    <form method="get" action="">
      <fieldset role="search" style="width: 100%;">
        {% if category_choices|length > 1 %}
          <select name="category" onchange="this.form.submit()">
            <option value="">{% trans "All" %}</option>
            {% for value, label in category_choices %}
              <option value="{{ value }}" {% if value == category %}selected{% endif %}>{{ label }}</option>
            {% endfor %}
          </select>
        {% endif %}
        {% if request.user.is_authenticated and not collection.is_dynamic %}
          <select name="status" onchange="this.form.submit()">
            <option value="">{% trans "All" %}</option>
            <option value="wishlist" {% if status == 'wishlist' %}selected{% endif %}>{% trans "Wishlist" %}</option>
            <option value="progress" {% if status == 'progress' %}selected{% endif %}>{% trans "In progress" %}</option>
            <option value="complete" {% if status == 'complete' %}selected{% endif %}>{% trans "Complete" %}</option>
            <option value="dropped" {% if status == 'dropped' %}selected{% endif %}>{% trans "Dropped" %}</option>
            <option value="unmarked" {% if status == 'unmarked' %}selected{% endif %}>{% trans "Not marked yet" %}</option>
          </select>
        {% endif %}
      </fieldset>
    </form>
  </section>
{% endif %}
