{% load thumb %}
{% load i18n %}
{% load l10n %}
{% for member in members %}
  {% include '_list_item.html' with item=member.item mark=item.mark collection_member=member %}
  {% if forloop.last and not pagination %}
    <div hx-get="{% url 'journal:collection_edit_items' collection.uuid %}?last_pos={{ member.position }}&amp;last_member={{ member.id }}"
         hx-trigger="load delay:0.1s"
         hx-swap="outerHTML"
         class=".loader">
      <i class="fa-solid fa-compact-disc fa-spin loading"></i>
    </div>
  {% endif %}
{% endfor %}
{% if pagination %}
  {% include "_pagination.html" %}
{% endif %}
{% if collection_edit %}
  <script>
    sortable('.sortable', {
      forcePlaceholderSize: true,
      placeholderClass: 'entity-sort--placeholder',
      hoverClass: 'entity-sort--hover'
    });
  </script>
{% endif %}
{% if msg %}<script>alert("{{ msg|escapejs }}");</script>{% endif %}
