{% load i18n %}
<form hx-post="{% url 'journal:collection_update_item_note' collection.uuid item.uuid %}">
  <textarea name="note" placeholder="{% trans 'note' %}">{{ collection_member.note|default:'' }}</textarea>
  <input type="submit" style="width:unset;" value="{% trans "Update" %}">
  <button style="width:unset"
          hx-get="{% url 'journal:collection_update_item_note' collection.uuid item.uuid %}?cancel=1"
          hx-target="closest form"
          hx-swap="outerHTML">{% trans "Cancel" %}</button>
</form>
