{% load i18n %}
{% load l10n %}
<header class="dc-mh">
  <h2>
    <a href="{{ url }}">{{ title }}</a>
  </h2>
  <a class="dc-count" href="{{ url }}" title="{% trans 'Show all' %}">{{ total }}</a>
  <span class="action">
    {% if show_create_button %}
      <a class="dc-nav"
         href="{% url 'journal:article_compose' %}"
         title="{% trans 'Compose article' %}">
        <i class="fa-solid fa-pen-to-square"></i>
      </a>
    {% endif %}
  </span>
</header>
<ul class="article-preview">
  {% for article in articles %}
    <li>
      <a href="{{ article.url }}" class="title">{{ article.title }}</a>
      <small class="meta">{{ article.created_time|date }}</small>
      {% if article.excerpt %}<p class="excerpt">{{ article.excerpt }}</p>{% endif %}
    </li>
  {% empty %}
    {% if show_create_button %}
      <li class="empty">{% trans "Nothing so far." %}</li>
    {% else %}
      <li class="empty" _="init hide closest .entity-sort">{% trans "Nothing so far." %}</li>
    {% endif %}
  {% endfor %}
</ul>
