{% load i18n %}
{% load l10n %}
<h5>
  <a href="{{ url }}">{{ title }}</a>
  <small>
    <a href="{{ url }}">{{ total }}</a>
    {% if show_create_button %}
      <a href="{% url 'journal:article_compose' %}"
         title="{% trans 'Compose Article' %}">
        <i class="fa-solid fa-pen-to-square"></i>
      </a>
    {% endif %}
  </small>
</h5>
<ul class="article-preview">
  {% for article in articles %}
    <li>
      <a href="{{ article.url }}" class="title">{{ article.title }}</a>
      <small class="meta">{{ article.created_time|date }}</small>
      {% if article.excerpt %}<p class="excerpt">{{ article.excerpt }}</p>{% endif %}
    </li>
  {% empty %}
    {% if show_create_button %}
      <li class="empty">{% trans "nothing so far." %}</li>
    {% else %}
      <li _="init hide closest .shelf">{% trans "nothing so far." %}</li>
    {% endif %}
  {% endfor %}
</ul>
