<meta property="og:image" content="{{ identity.avatar }}">
<meta property="og:site_name" content="{{ site_name }}">
<meta name="fediverse:creator" content="@{{ identity.full_handle }}">
{% if identity.local and identity.anonymous_viewable %}
  <link rel="alternate"
        type="application/rss+xml"
        title="{{ site_name }} - @{{ identity.handle }} - Posts"
        href="/@{{ identity.full_handle }}/rss/" />
  <link rel="alternate"
        type="application/rss+xml"
        title="{{ site_name }} - @{{ identity.handle }} - Reviews"
        href="{{ identity.url }}feed/reviews/">
{% else %}
  <meta name="robots" content="noindex">
{% endif %}
