{% load i18n %}
{% if request.user.is_authenticated %}
  <span class="post-action-menu">
    <details class="dropdown">
      <summary aria-haspopup="menu" title="{% trans 'More' %}">
        <i class="fa-solid fa-ellipsis"></i>
      </summary>
      <ul role="menu" dir="rtl">
        {% if post.author_id == request.user.identity.pk %}
          <li>{% include "action_pin_post.html" with menu_label=1 %}</li>
          {% if not piece and not item %}
            <li>{% include "action_edit_post.html" with menu_label=1 %}</li>
          {% endif %}
          {% if not post.piece %}
            <li>{% include "action_delete_post.html" with menu_label=1 %}</li>
          {% endif %}
        {% else %}
          <li>{% include "action_flag_post.html" with menu_label=1 %}</li>
        {% endif %}
      </ul>
    </details>
  </span>
{% endif %}
