{% load bleach_tags %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load humanize %}
{% load mastodon %}
{% load thumb %}
{% load user_actions %}
{% load duration %}
{% for event in events %}
  {% include "_event_post.html" with post=event.subject_post piece=event.subject_post.piece item=event.subject_post.item %}
  {% if forloop.last %}
    <div class="htmx-indicator"
         style="margin-left: 60px"
         {% if request.GET.q %} hx-get="{% url 'social:search_data' %}?q={{ request.GET.q }}&amp;lastpage={{ page }}" {% else %} hx-get="{% url 'social:data' %}?last={{ event.pk }}&amp;typ={{ feed_type }}" {% endif %}
         hx-trigger="revealed"
         hx-swap="outerHTML">
      <i class="fa-solid fa-compact-disc fa-spin loading"></i>
    </div>
  {% endif %}
{% empty %}
  <div class="empty">
    {% if request.GET.last or page > 1 %}
      {% trans 'nothing more.' %}
    {% elif request.GET.q %}
      {% trans 'no matching activities.' %}
    {% else %}
      {% url 'users:data' as import_url %}
      {% blocktrans %}Find and mark some books/movies/podcasts/games, <a href="{{ import_url }}">import your data</a> from Goodreads/Letterboxd/Douban, follow some fellow {{ site_name }} users on the fediverse, so their recent activities and yours will show up here.{% endblocktrans %}
    {% endif %}
  </div>
{% endfor %}
