{% load static %}
{% load i18n %}
{% load l10n %}
{% load mastodon %}
{% load thumb %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" class="feed-page nav-page-feed">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site_name }} {% trans "Post" %} | {{ owner.display_name }}</title>
    <meta property="og:title" content="{{ post.summary | default:'Post' }}">
    <meta property="og:site_name" content="{{ site_name }}">
    <meta property="og:type" content="article">
    <meta property="og:article:author" content="{{ owner.display_name }}">
    {% if post.item.has_cover %}<meta property="og:image" content="{{ post.item.cover|thumb:'normal' }}">{% endif %}
    <meta property="og:description"
          content="{{ post.summary|default:post.content_plain_text|slice:':300' }}" />
    <meta name="fediverse:creator" content="@{{ owner.full_handle }}">
    <meta name="lastmodified" content="{{ post.updated | date:'r' }}" />
    {% if not owner.local or not owner.anonymous_viewable %}<meta name="robots" content="noindex">{% endif %}
    {% include "common_libs.html" %}
    <script src="{{ cdn_url }}/npm/shikwasa@2.2.1/dist/shikwasa.min.js"></script>
    <link href="{{ cdn_url }}/npm/shikwasa@2.2.1/dist/style.min.css"
          rel="stylesheet" />
    <script src="{% static 'js/podcast.js' %}"></script>
  </head>
  <body>
    {% include "_header.html" %}
    <main>
      <div class="grid__main">
        {% include "_event_post.html" with item=post.item show_replies=1 show_flag=1 show_pin=1 %}
      </div>
      {% include "_sidebar.html" with show_profile=1 identity=owner %}
    </main>
    {% include "_footer.html" %}
  </body>
</html>
