{% load static %}
{% load i18n %}
{% load l10n %}
<details>
  <summary>{% trans 'Search filters' %}</summary>
  <li>
    <code>category:book</code> - {% trans 'filter by one of these categories' %}: <code>book</code> / <code>movie</code> / <code>tv</code> / <code>music</code> / <code>game</code> / <code>podcast</code> / <code>performance</code>
  </li>
  <li>
    <code>tag:fantasy,chinese</code> - {% trans 'filter by public tag' %}
  </li>
  <li>
    <code>people:Orwell</code> - {% trans 'filter by people (director, author, actor)' %}
  </li>
  <li>
    <code>company:Penguin</code> - {% trans 'filter by company (publisher, troupe)' %}
  </li>
  <li>
    <code>year:2023</code> - {% trans 'filter by specific year' %}
  </li>
  <li>
    <code>year:2020..2023</code> - {% trans 'filter by year range' %}
  </li>
  <!--       <li>
        <code>format:web</code> - {% trans 'filter by format' %}
      </li>
      <li>
        <code>genre:scifi</code> - {% trans 'filter by genre' %}
      </li>
      <li>
        <code>language:en</code> - {% trans 'filter by language code' %}
      </li> -->
</details>
<br>
<details open>
  <summary>{% trans 'Not the result you are looking for?' %}</summary>
  <p>
    Paste the link into the search box if you have found the entry you are looking for on these sites:
    {% for site in sites %}
      {{ site }}
      {% if not forloop.last %}/{% endif %}
    {% endfor %}
  </p>
  <p>{% trans "Or you may create items manually" %}:</p>
  <ul>
    <li>
      <a href="{% url 'catalog:create' 'Edition' %}?title={{ request.GET.q | default:'' }}">{% trans 'Add books' %}</a>
    </li>
    <li>
      <a href="{% url 'catalog:create' 'Movie' %}?title={{ request.GET.q | default:'' }}">{% trans 'Add movies' %}</a>
    </li>
    <li>
      <a href="{% url 'catalog:create' 'TVShow' %}?title={{ request.GET.q | default:'' }}">{% trans 'Add tv series' %}</a>
    </li>
    <li>
      <a href="{% url 'catalog:create' 'Podcast' %}?title={{ request.GET.q | default:'' }}">{% trans 'Add podcasts' %}</a>
    </li>
    <li>
      <a href="{% url 'catalog:create' 'Album' %}?title={{ request.GET.q | default:'' }}">{% trans 'Add albums' %}</a>
    </li>
    <li>
      <a href="{% url 'catalog:create' 'Game' %}?title={{ request.GET.q | default:'' }}">{% trans 'Add games' %}</a>
    </li>
    <li>
      <a href="{% url 'catalog:create' 'Performance' %}?title={{ request.GET.q | default:'' }}">{% trans 'Add performance or theater pieces' %}</a>
    </li>
  </ul>
</details>
