{% extends "item_base.html" %}
{% load static %}
{% load i18n %}
{% load strip_scheme %}
{% load thumb %}
{% block primary_action %}
  {% if request.user.is_authenticated %}
    <div id="item-primary-action" class="right mark">
      <div class="item-action">
        <form method="post" action="{% url 'journal:follow' item.uuid %}">
          {% csrf_token %}
          {% if mark.shelf_type %}
            <button class="outline">{% trans 'following' %}</button>
          {% else %}
            <button class="primary">{% trans 'follow' %}</button>
          {% endif %}
        </form>
      </div>
    </div>
  {% endif %}
{% endblock %}
{% block rating_and_tags %}{% endblock %}
{% block item_sidebar_pieces %}{% endblock %}
{% block comments_reviews_notes %}{% endblock %}
{% block details %}
  <div>{% include '_people.html' with people=item.additional_names role='' max=99 %}</div>
  <div>
    {% if item.birth_date %}
      {% trans 'born' %}: {{ item.birth_date }}
      {% if item.death_date %}
        &mdash; {% trans 'died' %}: {{ item.death_date }}
      {% endif %}
    {% endif %}
  </div>
  <div>
    {% if item.imdb %}
      {% trans 'IMDb' %}: <a href="https://www.imdb.com/name/{{ item.imdb }}/"
    target="_blank"
    rel="noopener">{{ item.imdb }}</a>
    {% endif %}
  </div>
  <div>
    {% if item.official_site %}
      {% trans 'website' %}: <a href="{{ item.official_site }}" target="_blank" rel="noopener">{{ item.official_site|strip_scheme }}</a>
    {% endif %}
  </div>
{% endblock %}
{% block content %}
  {% for role_value, role_label, items in item.related_items_by_role %}
    <section class="entity-sort shelf">
      <span class="action">
        <span>
          <a _="on click set el to the next <ul/> then call el.scrollBy({left:-el.offsetWidth, behavior:'smooth'})">
          <i class="fa-solid fa-circle-left"></i>
        </a>
      </span>
      <span>
        <a _="on click set el to the next <ul/> then call el.scrollBy({left:el.offsetWidth, behavior:'smooth'})">
        <i class="fa-solid fa-circle-right"></i>
      </a>
    </span>
  </span>
  <h5>
    {{ role_label }}
    <small>
      (<a href="{% url 'catalog:people_works' item.url_path item.uuid role_value %}">{{ items|length }}</a>)
    </small>
  </h5>
  <ul class="cards">
    {% for work in items|slice:":10" %}
      <li class="card">
        <a href="{{ work.url }}" title="{{ work.display_title }}">
          <img src="{{ work.cover|thumb:'normal' }}"
               alt="{{ work.display_title }}"
               loading="lazy">
          <div>
            <span>{{ work.display_title }}</span>
            {% if work.year %}<small>{{ work.year }}</small>{% endif %}
          </div>
        </a>
      </li>
    {% endfor %}
  </ul>
</section>
{% endfor %}
{% endblock %}
