.spoiler {
  background: grey;
  filter: blur(2px);
  cursor: pointer;

  &.revealed {
    background: unset;
    filter: unset;
    color: inherit;
  }
}

.markdown-content {

  h1 {
    font-size: 1.5rem
  }

  h2 {
    font-size: 1.25rem
  }

  h3 {
    font-size: 1.1rem;
  }
}

.EasyMDEContainer {
  color-scheme: light;
  color: #2c3e50;
  background: #fff;
}

.editor-toolbar {
  button {
    all: unset;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    margin: 0;
    border: none;
    border-radius: 3px;
    color: #2c3e50;

    &:hover,
    &.active {
      background: #fcfcfc;
      color: #2c3e50;
    }
  }

  i.separator {
    display: inline-block;
    width: 0;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #fff;
    margin: 0 6px;
    height: 30px;
  }
}
