{# parameters: item, mark, collection_member, collection_edit + parameters passing down: show_tags, hide_category #}
{% load thumb %}
{% load i18n %}
{% load l10n %}
{% load user_actions %}
{% load duration %}
{% if not mark %}
  {% get_mark_for_item item as mark %}
{% endif %}
<article class="entity-sort item-card"
         {% if collection_edit %}data-member-id="{{ collection_member.id }}"{% endif %}>
  <span class="action">
    {% if collection_edit %}
      <span>
        <a title="{% trans "Remove from collection" %}"
           hx-target="closest article"
           hx-swap="outerHTML"
           hx-post="{% url 'journal:collection_remove_item' collection.uuid item.uuid %}">
          <i class="fa-solid fa-square-minus"></i>
        </a>
      </span>
    {% elif request.user.is_authenticated and item.class_name != 'collection' %}
      <span>
        {% if not mark.shelf_type %}
          <a title="{% trans "add mark" %}"
             hx-get="{% url 'journal:mark' item.uuid %}?shelf_type=wishlist"
             hx-target="body"
             hx-swap="beforeend">
            <i class="fa-regular fa-bookmark"></i>
          </a>
        {% else %}
          <a class="activated"
             title="{% trans "update mark" %}"
             hx-get="{% url 'journal:mark' item.uuid %}"
             hx-target="body"
             hx-swap="beforeend">
            <i class="fa-solid fa-bookmark"></i>
          </a>
        {% endif %}
      </span>
    {% endif %}
  </span>
  {% include "_item_card.html" with item=item %}
  {% if mark or collection_member %}
    <footer>
      {% if collection_edit or collection_member.note %}
        <section class="item-note">
          <div hx-swap="innerHTML" hx-target="this">
            {% if collection_edit %}
              <span class="action">
                <a title="{% trans "Update note" %}"
                   hx-get="{% url 'journal:collection_update_item_note' collection.uuid item.uuid %}"><i class="fa-regular fa-pen-to-square"></i></a>
              </span>
            {% endif %}
            {% if collection_member.note %}
              <span class="action inline">
                <span class="timestamp">
                  {% if not request.user.is_authenticated or collection_member.parent.owner != request.user.identity %}
                    <a href="{{ collection_member.parent.owner.url }}"
                       title="@{{ collection_member.parent.owner.handle }}">{{ collection_member.parent.owner.display_name }}</a>:
                  {% endif %}
                </span>
              </span>
              {{ collection_member.note }}
            {% endif %}
          </div>
        </section>
      {% endif %}
      {% if not collection_edit %}
        {% if mark.shelf %}
          <section>
            <div class="action">{% include "action_open_post.html" with post=mark.shelfmember.latest_post %}</div>
            <span class="action inline">
              <span class="timestamp">{{ mark.created_time|date }} {{ mark.status_label }}</span>
              {% comment %} <a href="{{mark.owner.url }}" title="@{{ mark.owner.handle }}">{{ mark.owner.display_name }}</a> {% endcomment %}
            </span>
            {% if mark.rating_grade %}{{ mark.rating_grade|rating_star }}{% endif %}
            <span>{{ mark.comment.html|safe }}</span>
            {% if mark.comment.latest_post %}<div id="replies_{{ mark.comment.latest_post.pk }}"></div>{% endif %}
          </section>
        {% endif %}
        {% if mark.review %}
          <section>
            <div class="action">{% include "action_open_post.html" with post=mark.review.latest_post %}</div>
            <span class="action inline">
              <span class="timestamp">{{ mark.review.created_time|date }} {% trans "Review" %}</span>
              <span>
                <a href="{% url 'journal:review_retrieve' mark.review.uuid %}"
                   class="normal">{{ mark.review.title }}</a>
              </span>
              -
              <span>{{ mark.review.plain_content }}</span>
            </span>
            {% if mark.review.latest_post %}<div id="replies_{{ mark.review.latest_post.pk }}"></div>{% endif %}
          </section>
        {% endif %}
        {% if mark.tags %}
          <section>
            <span class="tag-list">
              {% for tag in mark.tags %}
                {% if forloop.counter <= 5 %}
                  <span>
                    <a href="{% url 'common:search' %}?c=journal&amp;q=tag:{{ tag }}">{{ tag }}</a>
                  </span>
                {% endif %}
              {% endfor %}
            </span>
          </section>
        {% endif %}
      {% endif %}
    </footer>
  {% endif %}
</article>
{% if item.dupe_to %}
  <details>
    <summary class="caveat">
      {% blocktrans with dups=item.dupe_to|length %}{{ dups }} item(s) are from the same work or have the same identifier, click here to display:{% endblocktrans %}
    </summary>
    <div class="item-card-list">
      {% for item2 in item.dupe_to %}
        {% include '_list_item.html' with item=item2 mark=item2.mark %}
      {% endfor %}
    </div>
  </details>
{% endif %}
