{% load thumb %}
{% load i18n %}
{% load l10n %}
{% for cm in collection_members %}
  {% include '_list_item.html' with item=cm.item mark=item.mark collection_member=cm hide_footer_mark=1 %}
{% empty %}
  <div class="empty">{% trans "nothing so far." %}</div>
{% endfor %}
{% if next_page %}
  <div hx-get="{% url 'journal:collection_retrieve_items' collection.uuid %}?page={{ next_page }}"
       {% if next_page <= 10 %} hx-trigger="load delay:{{ next_page }}s" {% else %} hx-trigger="click" {% endif %}
       hx-swap="outerHTML"
       class=".loader">
    {% if next_page <= 10 %}
      <i class="fa-solid fa-compact-disc fa-spin loading"></i>
    {% else %}
      <button class="outline">{% trans "show more" %}</button>
    {% endif %}
  </div>
{% endif %}
