{% load static %}
{% load i18n %}
{% load mastodon %}
{% load thumb %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}"
      class="classic-page{% if me %} nav-page-home{% endif %}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site_name }} {% trans 'Group' %} | {{ identity.display_name }}</title>
    <meta property="og:title"
          content="{{ identity.display_name }} - @{{ identity.handle }}">
    <meta property="og:type" content="profile">
    <meta property="og:url" content="{{ identity.url }}">
    <meta property="og:image" content="{{ identity.avatar }}">
    <meta property="og:site_name" content="{{ site_name }} {% trans 'Group' %}">
    <meta name="fediverse:creator" content="@{{ identity.full_handle }}">
    {% if identity.local and identity.anonymous_viewable %}
      <link rel="alternate"
            type="application/rss+xml"
            title="{{ site_name }} - @{{ identity.handle }} - Posts"
            href="/@{{ identity.full_handle }}/rss/" />
    {% else %}
      <meta name="robots" content="noindex">
    {% endif %}
    {% include "common_libs.html" %}
  </head>
  <body>
    {% include "_header.html" %}
    <main>
      <div class="grid__main">
        <h5>{{ identity.display_name }}</h5>
        {% for event in events %}
          {% include "_event_post.html" with post=event.subject_post piece=event.subject_post.piece item=event.subject_post.item hide_event=1 %}
        {% empty %}
          <div class="empty">{% trans 'no posts.' %}</div>
        {% endfor %}
      </div>
      {% include "_sidebar.html" with show_profile=1 %}
    </main>
    {% include "_footer.html" %}
  </body>
</html>
