{% load i18n %}
<section class="replies" id="quote_{{ post.pk }}">
  {% if request.user.is_authenticated %}
    {% if submitted %}
      <small style="color: var(--muted-color)">{% trans "Quoted." %}</small>
    {% else %}
      <form class="reply"
            role="group"
            hx-post="{% url 'journal:post_quote' post.pk %}"
            hx-target="#quote_{{ post.pk }}"
            hx-swap="outerHTML">
        <input name="content" type="text" placeholder="{% trans "add a quote" %}" />
        <details class="dropdown">
          <summary>
            <i class="fa-solid fa-users-gear"></i>
          </summary>
          <ul>
            {% if 0 in allowed_visibilities or 1 in allowed_visibilities or 4 in allowed_visibilities %}
              <li>
                <label>
                  <input type="radio"
                         name="visibility"
                         value="{{ default_visibility }}"
                         {% if post.visibility <= 1 or post.visibility == 4 %}checked{% endif %} />
                  <i class="fa-solid fa-globe"></i>
                </label>
              </li>
            {% endif %}
            {% if 2 in allowed_visibilities %}
              <li>
                <label>
                  <input type="radio"
                         name="visibility"
                         value="2"
                         {% if post.visibility == 2 %}checked{% endif %} />
                  <i class="fa-solid fa-lock"></i>
                </label>
              </li>
            {% endif %}
            {% if 3 in allowed_visibilities %}
              <li>
                <label>
                  <input type="radio"
                         name="visibility"
                         value="3"
                         {% if post.visibility == 3 %}checked{% endif %} />
                  <i class="fa-solid fa-at"></i>
                </label>
              </li>
            {% endif %}
          </ul>
        </details>
        <button class="secondary">
          <i class="fa-regular fa-paper-plane"></i>
        </button>
      </form>
    {% endif %}
  {% endif %}
  {% if quotes %}
    <h6 style="color: var(--muted-color); margin: 0.5em 0">{% trans "Quotes" %}</h6>
    {% for quote in quotes %}
      <div class="post">
        <span class="action">
          {% include "action_post_timestamp.html" with post=quote %}
          {% include "action_open_post.html" with post=quote %}
        </span>
        <span>
          <a href="{{ quote.author.url }}"
             class="nickname"
             title="@{{ quote.author.handle }}">{{ quote.author.name|default:quote.author.username }}</a>
        </span>
        {% if quote.summary %}
          <details>
            <summary>{{ quote.summary }}</summary>
            {{ quote.safe_content_local }}
          </details>
        {% else %}
          {{ quote.safe_content_local }}
        {% endif %}
      </div>
    {% endfor %}
  {% endif %}
</section>
