{% load i18n %}
{% load humanize %}
{% load mastodon %}
{% load thumb %}
{% load user_actions %}
{% load duration %}
{% for post in posts %}
  {% if identity.is_group and event.type == "boost" %}
    {% include "_event_post.html" with post=event.subject_post piece=event.subject_post.piece item=event.subject_post.item event=None %}
  {% else %}
    {% include "_event_post.html" %}
  {% endif %}
  {% if forloop.last %}
    <div class="htmx-indicator"
         style="margin-left: 60px"
         hx-get="{% url 'journal:profile_posts_data' user_name %}?last={{ post.pk }}"
         hx-trigger="revealed"
         hx-swap="outerHTML">
      <i class="fa-solid fa-compact-disc fa-spin loading"></i>
    </div>
  {% endif %}
{% empty %}
  <div class="empty">
    {% if request.GET.last %}
      {% trans "nothing more." %}
    {% else %}
      {% trans "nothing so far." %}
    {% endif %}
  </div>
{% endfor %}
