*.egg
*.egg-info
*.psql
*.pyc
*.sqlite3
.*_cache
.DS_Store
.git
.idea/*
.nova
.pre-commit-config.yaml
.venv
.vscode
/*.env*
/build
/cache/
/docs/_build
/fly.*
/media/
/static-collected
/takahe/local_settings.py
__pycache__/
api-test.*
notes.md
notes.py
