{% extends "settings/base.html" %}

{% block subtitle %}Migrate Here{% endblock %}

{% block settings_content %}
    <form action="." method="POST">
        {% csrf_token %}


        <fieldset>
            <legend>Add New Alias</legend>
            <p>
                To move another account to this one, first add it as an alias here,
                and then go to the server where it is hosted and initiate the move.
            </p>
            {% include "forms/_field.html" with field=form.alias %}
        </fieldset>

        <div class="buttons">
            <button {% if moved %}disabled{% endif %}>Add</button>
        </div>

    </form>

    <section>
        <h2 class="above">Current Aliases</h2>
        <table>
            {% for alias in aliases %}
            <form action="?remove_alias=1" method="POST">
                <tr><td>{{ alias.handle }}
                </td><td>
                    {% csrf_token %}
                    <input type="hidden" name="alias" value="{{ alias.handle }}">
                    <button {% if moved %}disabled{% endif %} class="button danger">Remove Alias</button>
                </td></tr>
            </form>
            {% empty %}
                <tr><td class="empty">You have no aliases.</td></tr>
            {% endfor %}
        </table>
    </section>

{% endblock %}
